@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/********** Deafult Stying ***********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************** Utilities *************/

body {
    font-family: "Poppins", sans-serif;
    color: #3a3a3a;
    
}

header {
    margin: 0 120px;
}

nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 90px 0 150px;
}


/************** Navigation **************/
nav .nav__logo {
    transition: all .5s;
    cursor: pointer;
}

nav .nav__logo:hover {
    color: #3a3a3aa8;
}

nav .nav__logo h2 {
    font-size: 24px;
    font-weight: 700;
}

.nav__links ul {
    list-style: none;
}


.nav__link {
    text-align: center;
    display: inline-block;
    padding: 2px 10px;
    margin-left: 10px;
    transition: all .3s;
    border-radius: 5px;
    font-size: 16px;
}

.nav__link:hover {
    transform: translateY(-5px) scale(1.2);
    box-shadow: 0 10px 10px #3a3a3a28;
}

.nav__link a {
    color: #3a3a3a;
    text-decoration: none;
    font-weight: 600;
}