@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

/********** Deafult Stying ***********/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/************** Utilities *************/

body {
    font-family: "Poppins", sans-serif;
    color: #3a3a3a;
    
}

header {
    margin: 0 120px;
}

main {
    margin: 0 165px;
}


nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 90px 0 150px;
}


/************** Navigation **************/
nav .nav__bar {
    display: none;
}

nav .nav__logo {
    transition: all .5s;
    cursor: pointer;
}

nav .nav__logo:hover {
    color: #3a3a3aa8;
}

nav .nav__logo h2 {
    font-size: 24px;
    font-weight: 700;
}

.nav__links ul {
    list-style: none;
}


.nav__link {
    font-size: 16px;
    text-align: center;

    display: inline-block;

    padding: 2px 10px;
    margin-left: 10px;
    border-radius: 5px;

    transition: all .3s;
}

.nav__link:hover {
    transform: translateY(-5px) scale(1.2);
    box-shadow: 0 10px 10px #3a3a3a28;
}

.nav__link a {
    color: #3a3a3a;
    text-decoration: none;
    font-weight: 600;
}

/************** Hero *************/
.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 170px;
}

.hero__info {
    margin-right: 100px;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.hero__info h1 {
    font-size: 52px;
    margin-bottom: 16px;
}

.hero__info p {
    width: 80%;
    font-weight: 600;
    margin-bottom: 30px;
}

.btn {
    font-weight: 700;
    text-decoration: none;

    color: #fff;
    background-color: #E02C6D;

    padding: 10px 24px;
    border-radius: 41px;

    transition: all .3s;
}

.btn:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 15px #3a3a3a42;
}

.btn i, .btn__more i {
    margin-left: 8px;
}

.hero__img {
    position: relative;
}

.hero__img img {
    width: 100%;
}

.hero__img .main__img {
    position: absolute;
    z-index: 2;
}

/************* Testimonial ***********/
.testimonial {
    border-top: 1px solid #3a3a3a34;
    border-bottom: 1px solid #3a3a3a34;

    display: flex;
    justify-content: space-around;
    align-items: center;

    padding: 36px 62px;
    margin-bottom: 100px;
    margin-left: 40px;
    margin-right: 40px;
}


/* Main Section */

/************* Popular Collection **********/
.popular {
    /* border: 1px solid indianred; */
    margin-bottom: 100px;
    margin-left: 31px;
    margin-right: 31px;

    display: flex;
    flex-direction: column;
}

.popular h2 {
    font-size: 28px;
    align-items: center;
    font-weight: 600;
    text-align: center;

    margin-bottom: 30px;
}

.items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 30px;
    row-gap: 30px;

    margin-bottom: 50px;
}

.item {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.15);
    border-radius: 10px;

    padding: 15px;
}

.item img {
    margin-bottom: 16px;
    width: 100%;
}

.item h3 {
    font-size: 28px;
    font-weight: 500;
    margin-bottom: 6px;
}

.item h4 {
    font-size: 24px;
    font-weight: 400;
}

.item__rating {
    margin-bottom: 6px;
}

.item .item__rating i {
    font-size: 11px;
    color: #FB8200;
}

.item .item__rating span {
    font-size: 14px;

    color: #5E6366;
    margin-left: 6px;
    letter-spacing: .1px;
}

.item p {
    font-size: 14px;
    font-weight: 700;
    color: #787885;
}

.btn__more {
    text-decoration: none;
    color: #E02C6D;
    font-weight: 700;
    background-color: transparent;

    align-self: flex-end;

    transition: all .3s;
}

.btn__more:hover {
    transform: translateY(-5px);
}

